{% extends "template.jinja" %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.min.js" integrity="sha512-GtM/5c/Ie0lStj6QwEG0HkpMQuGr9vrOAgFD4nNmImviyZvsJxN7TYU7b+R7Kthob0zFBUpuxfl3R3Mn1qekTw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% assets "game" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% endblock %}

{% block body %}
<div class="game-container flex-row">

    <div class="user-settings" id="UserSettings">
    
        <div class="user-settings-top flex-col">

            <h2>User Settings</h2>

            <ul>
            
            <li>
                <settings-option setting="username"></settings-option>
            </li>
            
            <li>
                <settings-option setting="room"></setting-option>
            </li>

            <li>
                <settings-option setting="mashKey"></settings-option>
            </li>



            </ul>
        </div>

    </div>

    <div class="game-main" id="gameMain">
        <img id="settingsGear" src="{{ url_for('static', filename='Images/gear.webp') }}">
        
        <div class="game-buttons flex-row" id="gameButtons">
            <button id="game-start" class="btn" onclick="startGame()">Start Game</button>
            <h2 id="game-waiting" class="hidden">Waiting...</h2>
        </div>

        <div class="ping-div">
            <p>Ping: <span id="pingOutput"></span></p>
        </div>

        <div class="lobby-screen flex-row" id="lobbyMain">
        </div>

        <template class="client-screen flex-col" id="clientMain">

            <div class="client-screen flex-col">

                <div class="score-bar">

                    <div class="client-score">
                        <output></output>
                    </div>
                
                </div>
                
                <div class="client-username">
                    <h3></h3>
                </div>
            </div>
        
        </template>
    
    </div>
    
    <div class="game-settings flex-col settings-transition hidden" id="gameSettings">

        <h2>Game Settings</h2>

        <h3>Disabled for now</h3>

    </div>

</div>
{% endblock  %}

{% block modal %}
<dialog class="lobby-dialog" id="lobbyModal">

    <div class="dialog-container flex-col">

        <h2>Lobby List</h2>

        <div class="lobby-div grid" id="lobbyGrid">
        </div>

        <template id="roomTemplate">
            <div class="lobby-row flex-row">
            
                <h4></h4>
                <div class="circle"></div>

            </div>
        </template>

        <div class="lobby-options">

            <button class="lobby-btn btn">Join Lobby</button>

        </div>

    </div>
    
    

</dialog>
<script type="text/javascript" src="{{ url_for('game.static', filename='main.js') }}"
{% endblock %}
