{% extends "template.jinja" %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='client-JS/game.js') }}"></script>
{% endblock %}

{% block body %}
<div class="game-container">
    <div class="game-main">

    </div>

    <div class="game-settings">
        <div class="room-settings">
            <input type="text" placeholder="Enter room number" id="roomId"><br>
            <label id="roomId-str">Room ID: </label>
            <button class="room-btn submit-btn">Change Room</button>
        </div>
    </div>
</div>
{% endblock  %}