<!DOCTYPE html>
<head>
    <title>Button Mash</title>

    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author," content="Nayan">


    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="topbar flex-row">
        <a href="{{ url_for('main.home') }}" class="link-main link-top link">Button Mash</a>
        <!-- <a href="{{ url_for('main.game') }}" class="link-top link">Game</a> -->
        <div class="profile flex-row">
            {% if current_user.is_authenticated %}
                <img src="{{ current_user.picture }}">
            {% else %}
                <div class="auth-btns flex-row disabled" title="Currently disabled">
                    <a class="link-top link" href="{{ url_for('auth.login') }}">Login</a>
                    <a class="link-top link" href="{{ url_for('auth.signup') }}">Signup</a>    
                </div>
            {% endif %}
        </div>
    </div>

    <div class="container">
        {%- block body %}{%- endblock %}
    </div>
    <footer class="flex-col">
        <p>Made with <img class="footer-pain" src="{{ url_for('static', filename='Images/pain.png') }}"/> by Nayan</p>
        <p>© {{ date.year }} </p>
    </footer>
    {% block modal %}
    {% endblock %}
</body>
