<!DOCTYPE html>
<head>
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="topbar">

        <a href="{{ url_for('main.home') }}" class="main-logo">
            <h1>Button Mash</h1>
        </a>
        
        <div class="profile">
            {% if current_user.is_authenticated %}
                
                <img src="{{ current_user.picture }}">

            {% else %}

                <div class="auth-btns">
                    <div class="login-btn">
                        <a href="{{ url_for('auth.login') }}">Login</a>
                    </div>
                    <div class="signup-btn">
                        <a href="{{ url_for('auth.signup') }}">Signup</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="container">
        {%- block body %}{%- endblock %}
    </div>
</body>