@use "sass:color";

// Default dark mode CSS
$danger: rgb(255, 56, 96);
$current_user: rgb(100, 150, 255);
$dropdown_color: #272727;

$theme-color: darkcyan;


$score_bar_color: blue;
$score_bar_win_col: green;
$score_bar_damn_col: darkorange;

:root {
    --theme-color: #{$theme-color};
    --title-font: "Rubik", sans-serif;
    --content-font: "Roboto", sans-serif;

    --background-color: rgb(18, 18, 18);
    --primary-font-color: rgba(255, 255, 255, 0.87);
    --second-font-color: rgba(255, 255, 255, 0.6);
}

body {
    margin: 0;
    font-family: var(--content-font);
    height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: var(--background-color);
    color: var(--second-font-color);
}

// Mixins

@mixin elevation($z_index) {
    z-index: $z_index;
    background-color: rgba(white, 0.03+$z_index*0.02);
}

/* Helper classes */
.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.grid {
    display: grid;
}

.removed {
    display: none;
}

.disabled {
    cursor: not-allowed;

    a {
        pointer-events: none;
        user-select: none;
        color: rgb(64, 64, 64);
    }
}

.is-danger {
    background-color: $danger;
}

/* Top Bar */
h1, h2 {
    color: var(--primary-font-color);
}

.topbar {
    background-color: var(--theme-color);
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;

    min-height: 100px;

    @include elevation(3);

    a {
        color: var(--primary-font-color);
        font-family: var(--title-font);
        text-decoration: none;
        font-weight: bold;
        text-decoration: none;
        font-size: 1.5em;
        margin-left: 10px;
    }
}

.link-main {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

#topProfile {
    margin-left: auto;
}


$dropdown_item_border: rgba(white, 0.5);

.profile {
    height: 70px;
    margin-left: auto;
    align-items: center;

    #profileImage {
        max-height: 100%;
        max-width: 100%;
        cursor: pointer;
    }

    .profile-dropdown {
        position: absolute;
        top: 90px;
        right: 20px;
        border: rgba(white, 0.3) 1px solid;
        border-top: none;

        min-width: 250px;
    }
      
    .dropdown-list {
        padding: 0;
        list-style-type: none;
        margin: 0;
    }
    
    .profile-option {
        padding: 10px 20px;
        border-bottom: 1px solid $dropdown_item_border;
        background-color: $dropdown_color;
        cursor: pointer;

        &:hover {
            background-color: color.scale($dropdown_color, $lightness: 30%);
        }

        a {
            font-size: 1rem;
            font-weight: 400;
            margin: 0;
            color: var(--second-font-color);
        }

        svg {
            height: 20px;
            margin-right: 10px;
            fill: white;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    .profile-div {
        padding: 0 10px;
        background-color: $dropdown_color;
        padding: 10px 20px;
        border-bottom: $dropdown_item_border 1px solid;
        align-items: center;
        color: var(--primary-font-color);

        img {
            height: 50px;
            margin-right: 15px;
        }

        p {
            margin: 0;
            font-weight: bold;
            font-size: 1.1rem;
        }
    }
}



footer {
    margin-top: auto;
    padding-top: 10px;
    padding-bottom: 10px;

    color: var(--primary-font-color);
    font-family: var(--title-font);

    position: relative;

    @include elevation(3);

    .footer-credit {
        row-gap: 10px;
        align-items: center;
    }

    p {
        margin: 0;
        padding: 0;
    }

    .footer-links {
        position: absolute;
        right: 30px;
        top: 50%;
        column-gap: 15px;

        transform: translateY(-50%);

        svg {
            height: 30px;
        }
    }

    #link-github {
        fill: white;
    }

    #link-twitter {
        fill: rgb(29, 161, 242);
    }

}

.footer-pain {
    height: 15px;
    display: inline-block;
}

/* Container and template classes */
.container {
    margin: 20px;
    flex-grow: 1;
    overflow: hidden;
}


.authblock {
    margin-top: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.authbox {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    min-width: 300px;

    @include elevation(1);
}

.input {
    padding: 10px;
    box-sizing: border-box;
}

.form-input {
    width: 100%;
    margin-bottom: 10px;
}

.btn {
    margin: 10px;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--theme-color)
}

.notification {
    padding: 30px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: bold;
    color: rgba(white, 0.8);

    @include elevation(2);

    a {
        color: rgba(128,159,255, 0.8);
    }

    &.is-danger {
        color: rgba($danger, 0.8);
    }
}



.submit-btn {
    margin: 0px;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}

.div-checkbox {
    margin-top: 15px;
}

/* Game CSS */
.game-container {
    height: 100%;
}

.game-main {
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px black solid;
    border-radius: 15px;
    position: relative;
    transition: 1s;

    @include elevation(1);
}

.current-user {
    color: rgba($current_user, 0.8);
}

.lobby-screen {
    height: 100%;
    justify-content: space-around;
}

.client-screen {
    justify-content: end;
    align-items: center;
    padding: 10px;
    margin: 20px;
}

.score-bar {
    background-color: $score_bar_color;
    width: 60px;

    flex-shrink: 0;
    display: flex;
    align-items: end;
    justify-content: center;

    .score-damn {
        color: $score_bar_damn_col;
    }

    &.score-winner {
        background-color: $score_bar_win_col;
    }
}



.ping-div {
    margin: 10px;
    position: absolute;
    font-family: 'VT323', monospace;
    font-size: 1.5rem;

    p {
        margin: 0;
    }

    span {
        color: rgba(100, 255, 150, 0.8);
    }
}


#settingsGear {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    z-index: 1;
    cursor: pointer;
}

.game-buttons {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;

    #game-start {
        border-radius: 50%;
        height: 150px;
        width: 150px;
        border: none;
        background-color: skyblue;
        cursor: pointer;
    }

    #game-waiting::after {
        content: "i";
        margin-left: 0px;
        animation: blink 1s infinite;
        display: inline;
        background: white;
        font-size: 20px;
    }
      
    @keyframes blink {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0;
    }
    }
}


.game-settings {
    max-width: 300px;
    border-radius: 15px;
    justify-content: center;
    border: 1px black solid;
    padding: 20px;
    visibility: visible;
    white-space: nowrap;
    transition: all 1s;

    @include elevation(1)
}

.settings-div {
    align-items: center;
}

.settings-str {
    margin-top: 0px;
}

.settings-input {
    font-size: 1rem;
    width: auto;
}

.room-settings {
    margin-top: auto;
    padding-bottom: 50px;
}

#roomId-str {
    margin-top: 0px;
}

.hidden {
    max-width: 0px;
    visibility: hidden;
    opacity: 0;
    margin: 0px;
    padding: 0px;
    border: 0px;
    overflow: hidden;
}


/* Dialog */
.lobby-dialog {
    height: 500px;
    width: 500px;
}

.dialog-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.lobby-div {
    flex-grow: 1;
    align-content: start;
    align-self: stretch;

    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
}


.lobby-row {
    align-items: center;
    justify-content: space-between;

    padding: 0 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 10px;
}


.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.closed-lobby {
    background-color: red;
}

.open-lobby {
    background-color: greenyellow;
}

.lobby-row:hover {
    box-shadow: 0px 0px 5px 4px rgba(97,169,224,1);
}


$dropdown_color: white;
$dropdown_item_border: rgba(black, 0.8);

// Light mode customization
@media screen and (prefers-color-scheme: light) {
    
    :root {
        --background-color: white;
    
        --primary-font-color: black;
        --second-font-color: rgb(32, 32, 32);
    }

    .topbar {
        background-color: var(--theme-color);

        a {
            color: white;
        }
    }

    footer {
        background-color: green;
        color:white;

        #link-github {
            fill: black;
        }
    }

    .game-settings, .game-main, .authbox {
        background-color: initial;
    }

    .current-user {
        color: $current_user;
    }

    .ping-div span {
        color:indianred;
    }

    .notification {

        background-color: darkgray;
        color: white;

        a {
            color: rgb(128,159,255);
        }

        &.is-danger {
            background-color: #FF385F;
            color: white;
        }
        
    }

    .profile {

        .profile-dropdown {
            border-color: $dropdown_item_border;
        }
        .profile-div {
            background-color: $dropdown_color;
            border-color: $dropdown_item_border;
        }
        .profile-option {
            background-color: $dropdown_color;
            border-color: $dropdown_item_border;

            &:hover {
                background-color: color.scale($dropdown_color, $lightness: -30%);
            }

            svg {
                fill: black;
            }
        }
    }

}
