:root{
    --theme-color: darkcyan;
    --title-font: "Rubik", sans-serif;
    --content-font: "Roboto", sans-serif;
}

body {
    margin: 0;
    font-family: var(--content-font);
}

 /* Top Bar */
.topbar {
    display: flex;
    background-color: var(--theme-color);
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    color: white;

    font-family: var(--title-font);
}

.main-logo {
    color: white;
    text-decoration: none;
}

.profile {
    height: 100px;
    margin-left: auto;

    display: flex;
    align-items: center;
}

.profile img {
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}

#topProfile {
    margin-left: auto;
}

.auth-btns {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.auth-btns a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5em;
}

/* Container and template classes */
.container {
    margin: 20px;
}


.signupblock {
    margin-top: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.signupbox {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    min-width: 300px;
}

.input {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.btn {
    margin: 10px;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;

    color: white;
    font-size:18px;
    font-weight: bold;
    background-color: var(--theme-color)
}

.notification {
    padding: 30px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;

    font-weight: bold;
    background-color: lightgray;
    color: white;    
}

.is-danger {
    background-color: hsl(348, 100%, 61%);
}

.submit-btn {
    margin: 0px;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}

.div-checkbox {
    margin-top: 15px;
}