:root {
  --theme-color: darkcyan;
  --title-font: "Rubik", sans-serif;
  --content-font: "Roboto", sans-serif;
  --background-color: rgb(18, 18, 18);
  --primary-font-color: rgba(255, 255, 255, 0.87);
  --second-font-color: rgba(255, 255, 255, 0.6);
}

body {
  margin: 0;
  font-family: var(--content-font);
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--second-font-color);
}

/* Helper classes */
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.grid {
  display: grid;
}

.removed {
  display: none;
}

.disabled {
  cursor: not-allowed;
}
.disabled a {
  pointer-events: none;
  user-select: none;
  color: rgb(64, 64, 64);
}

.is-danger {
  background-color: #FF385F;
}

/* Top Bar */
h1, h2 {
  color: var(--primary-font-color);
}

.topbar {
  background-color: var(--theme-color);
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.09);
}
.topbar a {
  color: var(--primary-font-color);
  font-family: var(--title-font);
  text-decoration: none;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5em;
  margin-left: 10px;
}

.link-main {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

.profile {
  height: 100px;
  margin-left: auto;
  align-items: center;
}
.profile img {
  max-height: 100%;
  max-width: 100%;
  cursor: pointer;
}

#topProfile {
  margin-left: auto;
}

footer {
  margin-top: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--primary-font-color);
  font-family: var(--title-font);
  position: relative;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.09);
}
footer .footer-credit {
  row-gap: 10px;
  align-items: center;
}
footer p {
  margin: 0;
  padding: 0;
}
footer .footer-links {
  position: absolute;
  left: calc(50% + 100px);
  top: 50%;
  column-gap: 10px;
  transform: translateY(-50%);
}
footer .footer-links svg {
  height: 30px;
}

.footer-pain {
  height: 15px;
  display: inline-block;
}

/* Container and template classes */
.container {
  margin: 20px;
  flex-grow: 1;
  overflow: hidden;
}

.authblock {
  margin-top: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.authbox {
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  min-width: 300px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.05);
}

.input {
  padding: 10px;
  box-sizing: border-box;
}

.form-input {
  width: 100%;
  margin-bottom: 10px;
}

.btn {
  margin: 10px;
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: var(--theme-color);
}

.notification {
  padding: 30px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.07);
}
.notification a {
  color: rgba(128, 159, 255, 0.8);
}
.notification.is-danger {
  color: rgba(255, 56, 95, 0.8);
}

.submit-btn {
  margin: 0px;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
}

.div-checkbox {
  margin-top: 15px;
}

/* Game CSS */
.game-container {
  height: 100%;
}

.game-main {
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px black solid;
  border-radius: 15px;
  position: relative;
  transition: 1s;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.05);
}

.lobby-screen {
  height: 100%;
  justify-content: space-around;
}

.client-screen {
  justify-content: space-between;
  padding: 10px;
  margin: 20px;
}

.ping-div {
  margin: 10px;
  position: absolute;
  font-family: "VT323", monospace;
  font-size: 1.5rem;
}
.ping-div p {
  margin: 0;
}
.ping-div span {
  color: rgba(100, 255, 150, 0.8);
}

#settingsGear {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 40px;
  z-index: 1;
  cursor: pointer;
}

.game-buttons {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
}
.game-buttons #game-start {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: none;
  background-color: skyblue;
  cursor: pointer;
}
.game-buttons #game-waiting::after {
  content: "i";
  margin-left: 0px;
  animation: blink 1s infinite;
  display: inline;
  background: white;
  font-size: 20px;
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.game-settings {
  max-width: 300px;
  border-radius: 15px;
  justify-content: center;
  border: 1px black solid;
  padding: 20px;
  visibility: visible;
  white-space: nowrap;
  transition: all 1s;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.05);
}

.settings-div {
  align-items: center;
}

.settings-str {
  margin-top: 0px;
}

.settings-input {
  font-size: 1rem;
  width: auto;
}

.room-settings {
  margin-top: auto;
  padding-bottom: 50px;
}

#roomId-str {
  margin-top: 0px;
}

.hidden {
  max-width: 0px;
  visibility: hidden;
  opacity: 0;
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow: hidden;
}

.current-user {
  color: rgba(100, 150, 255, 0.8);
}

/* Dialog */
.lobby-dialog {
  height: 500px;
  width: 500px;
}

.dialog-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.lobby-div {
  flex-grow: 1;
  align-content: start;
  align-self: stretch;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
}

.lobby-row {
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 10px;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.closed-lobby {
  background-color: red;
}

.open-lobby {
  background-color: greenyellow;
}

.lobby-row:hover {
  box-shadow: 0px 0px 5px 4px rgb(97, 169, 224);
}

@media screen and (prefers-color-scheme: light) {
  :root {
    --background-color: white;
    --primary-font-color: black;
    --second-font-color: rgb(32, 32, 32);
  }
  .topbar {
    background-color: var(--theme-color);
  }
  .topbar a {
    color: white;
  }
  footer {
    background-color: green;
    color: white;
  }
  .game-settings, .game-main, .authbox {
    background-color: initial;
  }
  .notification {
    background-color: darkgray;
    color: white;
  }
  .notification a {
    color: rgb(128, 159, 255);
  }
  .notification.is-danger {
    background-color: #FF385F;
    color: white;
  }
  .current-user {
    color: rgb(100, 150, 255);
  }
}

/*# sourceMappingURL=style.css.map */
