:root {
    --theme-color: darkcyan;
    --title-font: "Rubik", sans-serif;
    --content-font: "Roboto", sans-serif;
}

body {
    margin: 0;
    font-family: var(--content-font);
    height: 100vh;

    display: flex;
    flex-direction: column;
}


/* Helper classes */
.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}


/* Top Bar */
.topbar {
    background-color: var(--theme-color);
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    color: white;
    font-family: var(--title-font);
}

.link-top {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 10px;
}

.link-main {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

.profile {
    height: 100px;
    margin-left: auto;
    align-items: center;
}

.profile img {
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}

#topProfile {
    margin-left: auto;
}

footer {
    margin-top: auto;
    background-color: green;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    row-gap: 10px;
    align-items: center;
    font-family: var(--title-font);
}

footer p {
    margin: 0;
    padding: 0;
}

.footer-pain {
    height: 15px;
    display: inline-block;
}

/* Container and template classes */
.container {
    margin: 20px;
    flex-grow: 1;
    overflow: hidden;
}


.signupblock {
    margin-top: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.signupbox {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    min-width: 300px;
}

.input {
    padding: 10px;
    box-sizing: border-box;
}

.form-input {
    width: 100%;
    margin-bottom: 10px;
}

.btn {
    margin: 10px;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--theme-color)
}

.notification {
    padding: 30px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: bold;
    background-color: lightgray;
    color: white;
}

.is-danger {
    background-color: hsl(348, 100%, 61%);
}

.submit-btn {
    margin: 0px;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}

.div-checkbox {
    margin-top: 15px;
}

/* Game CSS */
.game-container {
    height: 100%;
}

.game-main {
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px black solid;
    border-radius: 15px;
    position: relative;
    transition: 1s;
}

#settingsGear {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
}


.game-settings {
    max-width: 300px;
    min-width: 200px;
    border-radius: 15px;
    justify-content: center;
    border: 1px black solid;
    padding: 20px;
    visibility: visible;
    white-space: nowrap;
    transition: all 1s;
}

.settings-div {
    align-items: center;
}

.settings-str {
    margin-top: 0px;
}

.settings-input {
    font-size: 1rem;
    width: auto;
}

.room-settings {
    margin-top: auto;
    padding-bottom: 50px;
}

#roomId-str {
    margin-top: 0px;
}

.hidden {
    max-width: 0px;
    min-width: 0px;
    visibility: hidden;
    opacity: 0;
    width: 0px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    overflow: hidden;
}
